@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url('images/back3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
::selection{
    color: #fff;
    background: #33ff00;
}
.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(146, 166, 90, 0.2), 
                0 6px 20px 0 rgba(146, 166, 90, 0.19);
}